body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.heading, a:hover {
    background-color:lightcoral;
    color:whitesmoke ;
    padding: 1rem;
}

.sub-heading {
    background-color:lightskyblue;
    color: black;
    padding: 1rem;
}
header {
    background-color: lightskyblue;
    color:black;
    padding: 1rem;
    text-align: center;
}
nav a, li , footer, .Content{
    background-color:antiquewhite;
    color: black;
}
article {
    background-color:lavenderblush;
}
aside{
    background-color: lavender;
    padding-top: 0%;
}
.Content, nav a{
    padding: 1.5rem;
    text-decoration: none;
}

#Education, #Experience, #Skills, #Contact{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
img {
   border: solid lightsalmon;
   border-radius: 50%;
   padding: 0;
   position: relative;
   left: 39%;
   margin: 2rem;
}
.menu{
    background-color: lightcoral;
    color: whitesmoke;
    text-align: center;
}
nav a, div a{
  display: block;
  position: relative;
  text-decoration: none;
  background-color: antiquewhite;
  color: black;
  padding: 1rem;
}

div a {
    margin: 0 auto;
}
li{
    padding: 1rem;
}
#Skills {
    background-color: antiquewhite;
}
.Content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.heading {
    text-align: center;
}
form{
    padding-top: 10px;
    text-transform: uppercase;
 
}
textarea {
    width: 500px;
}
.subject input[type="radio"] {
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
input[type="email"]{
    display: block;
    width: 600px;
    height: 30px;
    margin-top: 10px;
    font-size: 20px;
    background-color: lavenderblush;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
textarea{
    display: block;
    background-color: lavenderblush;
    margin-top: 10px;
    font-size: 20px;
     width: 600px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
input:focus, textarea:focus{
       border: solid lightcoral 2px;
       outline: none;
}
.button{
    padding: 10px;
    font-size: 20px;
    background-color: lightskyblue;
    transition: background-color 0.3s, color 0.3s;
}
.button:hover{
    background-color: lightcoral;
    color: whitesmoke ;
    cursor: pointer;
}
fieldset{
    width: 575px;
}
legend{
    text-align: center;
}