body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.heading, a:hover {
    background-color:#e5a05b;
    color:whitesmoke ;
    padding: 1rem;
}

.sub-heading {
    background-color:#88c4cc;
    color: whitesmoke;
    padding: 1rem;
    text-align: center;

}
header {
    color:black;
    margin-left: 39%;
    color: whitesmoke;
    
}
nav a, li , footer, .Content{
    background-color:antiquewhite;
    color: black;
}
article {
    background-color:lavenderblush;
}
aside{
    background-color: lavender;
    padding-top: 0%;
}
.Content, nav a{
    padding: 1.5rem;
    text-decoration: none;
}

#Education, #Experience, #Skills, #Contact{
    margin-top: 20px;
    margin-bottom: 20px;
}
.profile-picture {
    position: relative;
    margin: 0 40%;
}
img{
    border-radius: 40%;
}
.menu{
    background-color: #e5a05b;
    color: whitesmoke;
    text-align: center;
}
nav a, div a{
  display: block;
  position: relative;
  text-decoration: none;
  background-color: antiquewhite;
  color: black;
  padding: 1rem;
}

div a {
    margin: 0 auto;
}
li{
    padding: 1rem;
}
#Skills {
    background-color: antiquewhite;
}
.Content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.heading {
    text-align: center;
}
form{
    padding-top: 10px;
    text-transform: uppercase;
 
}
textarea {
    width: 50%;;
}
input[type="email"], #name, #lastname{
    display: block;
    width: 300px;
    height: 25px;
    margin: 10px 0px;
    border: 1px solid;
    font-size: 20px;
    background-color: lavenderblush;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
textarea{
    display: block;
    background-color: lavenderblush;
    margin-top: 10px;
    font-size: 20px;
    width: 300px;
    height: 200px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
input:focus, textarea:focus{
       border: solid lightcoral 2px;
       outline: none;
}
.button{
    padding: 10px;
    font-size: 20px;
    background-color: lavenderblush;
    transition: background-color 0.3s, color 0.3s;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 10px;
}
.button:hover{
    background-color: lightcoral;
    color: whitesmoke ;
    cursor: pointer;
}
fieldset{
    width: 48%;
}
legend{
    text-align: center;
}
.top-button {
    position: fixed;
    bottom: 20px;
    right: 30px;
    padding: 10px;
    background-color: lavenderblush;
    text-decoration: none;
    color: #000;
    font-size: 18px;
    border-radius: 10px 2px 10px 3px;
}

.top-button:hover {
    background-color: lightcoral;
}
#subject{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    padding: 20px;
    display: block;
    width: 150px;
    background-color: lavenderblush;
    outline: none;
    border: 1px solid lightcoral;
    cursor: pointer;
}
.down{
    display: block;
    width: 50%;
}

#hero{
    display:block;
    background-image: url("../Images/realhero.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    padding: 30px;
    width: auto;
}
/* mobile*/
@media screen and (max-width: 768px){
    div{
        width: 100%;
    }
    img{
        width: 150px;
        height: 150px;
        margin: 0 auto;
        border-radius: 50%;
        position: relative;
        right: 2%;
    }

    header{
        display: inline;
        text-align: center;
        margin: auto;
}
}

/* tablet*/

@media screen and (min-width: 769px) and (max-width: 1000px){
    div{
        width: 100%;
    }
        img{
        width: 200px;
        height: 200px;
        position: relative;
        right: 2%;
        text-align: center;
        border-radius: 40%;
    }
    #hero{
       width: auto;
       height: auto;
}
    header{
        display: inline;
        text-align: center;

}
}
/* laptop*/
@media screen and (min-width: 1001px){
    div{
        width: 100%;

}
    img{
        width: 300px;
        height: 300px;
        position: relative;
        right: 2rem;
        text-align: center;
        border-radius: 30%;
    }
    #hero{
       width: auto;
       height: auto;
}
    header{
        display: inline;
        text-align: center;
        margin: 0 auto;
    }
}