body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, sans-serif;
    color:rgb(135, 115, 166);
}

a:hover {
    background-color: #98EECC;
}

.heading {
    background-color: #98EECC;
}

.sub-heading {
    background-color: #D0F5BE;
}

.Content, ul, #Education, #Skills, #Experience, aside {
    background-color: #FBFFDC;
}
header, footer {
    background-color:turquoise;
}
nav a {
    background-color:burlywood;
}
