body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, sans-serif;
    color:rgb(135, 115, 166);
}

a:hover {
    background-color: #98EECC;
}

.heading {
    background-color:black;
    color:whitesmoke ;
}

.sub-heading {
    background-color:whitesmoke;
    color: black;
}
header, footer {
    background-color:midnightblue;
    color: whitesmoke;
}
nav a {
    background-color:burlywood;
}
.Content{
    background-color: black;
    color: whitesmoke;
}
